.container {
   margin:0 auto;
   text-align:center;
   top:0;
   left:0;
   position:relative;
}

picture {
  position:relative; 
  top:0; 
  left:0; 
  z-index:1;
}

img {
  width:100%;
}

.cross {
  position:absolute; 
  top:50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index:-1;
  width: 300px;
}

@media (min-width: 767px) {
  
    .cross {
      width: 600px;
    }
  
}

@media (min-width: 801px) {
  
    .cross {
      width: 325px;
    }
  
}

@media (min-width: 1023px) {
  
    .cross {
      width: 350px;
    }
  
}

@media (min-width: 1281px) {
  
    .cross {
      width: 500px;
    }
  
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:1.8em;
  white-space:nowrap
}

.title-italic{
  font-style:italic;
  font-size:1.5em;
}
.sub-title {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:1.2em;
}
.sub-title_two {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:1.2em;
}

.author {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:.9em;
}

.author_sub {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:.9em;
}

.pageone {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  color:white;
}
.pagetwo {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color:white;
}
.pagethree {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color:white;
}
.pagefour {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  color:white;
}
