.container {
   margin:0 auto;
   text-align:center;
   top:0;
   left:0;
   position:relative;
}

picture {
  position:relative; 
  top:0; 
  left:0; 
  z-index:1;
}

img {
  width:100%;
}

.cross {
  position:absolute; 
  top:50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index:-1;
  width: 300px;
}

@media (min-width: 767px) {
  
    .cross {
      width: 600px;
    }
  
}

@media (min-width: 801px) {
  
    .cross {
      width: 325px;
    }
  
}

@media (min-width: 1023px) {
  
    .cross {
      width: 350px;
    }
  
}

@media (min-width: 1281px) {
  
    .cross {
      width: 500px;
    }
  
}